@charset "UTF-8";
/* CSS Document */


body{
font-family: "Yu FGothic Medium","游ゴシック Medium" ,"YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro M3", Sans-serif;
   }

.center{
	width:auto;
	display:flex;
	align-items: center;
	justify-content: center;}


.frame{
	padding: 10px;
	margin:10px;
	width:600px;
	height:720px;
}


.head-title{
	text-align: center;
	height:120px;
}

.ar-wrap{
	display:flex;
	widows: 520px;
	justify-content: center;
}




.ar img{
	width:400px;
}


.footflex-container{
	height:100px;
	display:flex;
	justify-content: flex-end;
	align-items:flex-end;
}

.flex-item{
	height:42px;
}

.flex-item p{
	margin-top: 10px;
	margin-right: 10px;
	
}

.logo-wrap{
	height:48px;
	margin:2px;
}

.logo-wrap img{
	height:32px;
}
