@charset "UTF-8";
html{
  font-size: 100% ;
  width:600px
  }


body{
font-family: "Yu FGothic Medium","游ゴシック Medium" ,"YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro M3", Sans-serif;
  width: 100%;
  }

.page-title{
  width=100%;
  }
  
.page-title h1{
  font size : 2rem;
  text-align: center;
  }


.page-title p{
  text-align: right ;
  }

.viewerstyle{
  max-width: 100% ;
  }

