@charset "UTF-8";
/* CSS Document */


body{
font-family: "Yu FGothic Medium","游ゴシック Medium" ,"YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro M3", Sans-serif;
   }

.center{
	width:auto;
	display:flex;
	align-items: center;
	justify-content: center;}


.frame{
	padding: 10px;
	margin:10px;
	width:820px;

}


.head-title{
	text-align: center;
}

.ar-wrap{
	display:flex;
	justify-content: center;
}


.head-title h1{
	font-size:200%;
}

.head-title p{
	font-size:120%;
}


.footflex-container{
	height:100px;
	display:flex;
	justify-content: flex-end;
	align-items:flex-end;
}

.flex-item{
	height:42px;
}

.flex-item p{
	margin-top: 10px;
	margin-right: 10px;
	
}

.logo-wrap{
	height:48px;
	margin:2px;	
	border-width: 0px 0px 1px 0px;
	border-style:solid;

}

.logo-wrap img{
	height:32px;
}
